<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% if title %}
  <title>Abu's Portfolio - {{ title }}</title>
  {% else %}
  <title>Abu's Portfolio</title>
  {% endif %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-neon-glow.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>


</head>

<body>

  {% block content %}
  {% include 'jumbo.html' %}

  <div class="container mx-auto">
    <div class="row">
      <div
        class="col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-4 order-md-1 col-sm-4 order-sm-1 col-xs-12 order-xs-1 d-xl-block d-lg-block d-md-block d-sm-block d-xs-block">
        {% include 'me.html' %}
        {% include 'profile.html' %}
      </div>
      <div
        class="col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-8 order-md-2 col-sm-8 order-sm-2 col-xs-12 order-xs-2 d-xl-block d-lg-block d-md-block d-sm-block d-xs-block">

        {% include 'work.html' %}
        {% include 'design.html' %}
        {% include 'interests.html' %}
        {% include 'team.html' %}
        {% include 'future.html' %}
        {% include 'compare.html' %}
        <div>
          <a href="#!" title="Download Theme" class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left">
            A Button
          </a>
          <a href="#!" class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
            Another Button
          </a>
        </div>
      </div>
    </div>
  </div>


  {% endblock content %}

  <!-- Footer -->
  <footer>

    <div class="container text-center py-5 my-5">
      <div class="row">
        <div class=col-md-12>
          <a href="https://www.facebook.com/abdulelah.rizan" class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a href="https://twitter.com/sudoabu" class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a href="https://github.com/abdulelahrizan" class="github-ic">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a href="https://www.linkedin.com/in/abdulelahr/" class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <a href="https://www.quora.com/profile/AbdulElah-Rizan" class="li-ic">
            <i class="fab fa-quora fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a href="https://www.instagram.com/abdulelahrizan/" class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <a href="tel:1-343-363-7767" class="tel-ic">
            <i class="fas fa-phone fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
        </div>
      </div>
      <div class="row ">
        <div class="col mt-5 mx-auto">Made with Bootstrap4 and Python-Flask</div>
      </div>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>