<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% if title %}
  <title>Abu's Portfolio - {{ title }}</title>
  {% else %}
  <title>Abu's Portfolio</title>
  {% endif %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-neon-glow.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>


</head>

<body>
  <div class="navbar-dark text-white mb-2">
    <div class="container">
      <nav class="navbar px-0 navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="{{ url_for('hello') }}" class="pl-md-0 p-3 text-light">Start</a>
            <a href="{{ url_for('application') }}" class="p-3 text-decoration-none text-light">App
              example</a>
            <a href="{{ url_for('form') }}" class="p-3 text-decoration-none text-light">Form
              example</a>
          </div>
        </div>
      </nav>

    </div>
  </div>
  {% block content %}
  <div class="container mx-auto">
    <div class="row">
      <div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-9 order-md-2 col-sm order-sm-1">
        <h1 class="display-2">Abdul Elah A.M. Riza<span class="vim-caret">n</span></h1>
        <div class="lead mb-3 text-mono text-success">There's not much to see here rn tbh.</div>
        <h3> Hi there,
          <a class="typewrite" data-period="2000"
            data-type='[ "I&#39;m Abu 😊","I&#39;m a Mechanical Engineering Student 👨🏼‍🔧", "I&#39;m a Developer 👨🏼‍💻", "I&#39;m an Information Security Engineer ℹ️🔐", "I 💛 Breaking & Building Tech!" ]'>
            <span class="wrap"></span>
          </a>
        </h3>
        <div class="text-mono mb-4">
          <a href="#!" title="Download Theme" class="btn btn-success btn-shadow mb-3 text-left">
            A Button
          </a>
          <a href="#!" class="btn btn-danger btn-shadow mb-3 text-left">
            Another Button
          </a>
        </div>
        <div class="card mb-3 d-none d-lg-block">
          <div class="card-body">
            <blockquote class="card-blockquote">
              <p> {{data['description']}}</p>
            </blockquote>

          </div>
        </div>
      </div>
      <div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-3 order-md-1 col-sm order-sm-2 mb-2">
        <div class="card">
          <img class="card-img-top" src="{{ url_for('static', filename='images/Profile.jpg') }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Abu</h4>
            <p><i class="fas fa-university mr-1"></i>
              Queen's University</p>
            <ul>
              <p>
                B.A.Sc.
                Mechanical
                Engineering with Professional
                Internship (2020)</p>
            </ul>
            <p><i class="fas fa-briefcase mr-1"></i>
              Queen's University</p>
            <ul>
              <p>Information
                Security
                Associate</p>
            </ul>
            <p><a href="mailto: abdulelah.rizan@gmail.com"><i class="fas fa-envelope-open mr-1"></i>
                abdulelah.rizan@gmail.com</a></p>
            <p><a href="https://goo.gl/maps/6EbpQv2DoPL2YFrJ8"><i class="fas fa-map-marker mr-1"></i> Kingston, Ontario
                Canada</a></p>
            <p><a href="tel:1-343-363-7767"><i class="fas fa-phone mr-1"></i> +1(343)-363-7767</a></p>
            <p><a href="https://github.com/abdulelahrizan"><i class="fab fa-github mr-1"></i> abdulelahrizan</a></p>
            <a href="https://www.youracclaim.com/badges/c9404ba3-3bb1-4273-905f-f486834e3997/public_url ">
              <img class="rounded img-thumbnail mb-2 mx-auto d-block" height="100px" width="100px"
                src="{{ url_for('static', filename='images/security.png')}}"></a>

          </div>
        </div>
      </div>

      <div class="col-sm order-3 d-sm-none">
        <div class="card mb-3">
          <div class="card-body">
            <blockquote class="card-blockquote">
              <p> {{data['description']}}</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}

  <!-- Footer -->
  <footer>
    <div class="container text-center py-5 my-5">
      <div class="row">
        <div class=col-md-12>
          <a href="https://www.facebook.com/abdulelah.rizan" class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a href="https://twitter.com/sudoabu" class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a href="https://github.com/abdulelahrizan" class="github-ic">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a href="https://www.linkedin.com/in/abdulelahr/" class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <a href="https://www.quora.com/profile/AbdulElah-Rizan" class="li-ic">
            <i class="fab fa-quora fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a href="https://www.instagram.com/abdulelahrizan/" class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
          <a href="tel:1-343-363-7767" class="tel-ic">
            <i class="fas fa-phone fa-lg white-text mr-md-5 mr-2 fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>