<div class="card my-2">
    <h4 class="card-header"><i class="fas fa-fist-raised mr-1"></i> Strengths</h4>
    <div class="card-body">
        <p class="ml-3">
            As an Ambivert, I realise that I am comfortable with dealing with conflicts while maintaining a
            pleasant attitude. I enjoy talking to people and building strong relationships while knowing when to remain
            focused on the task at hand.
            I enjoy public speaking and do not mind being the center of attention, I own any embarassing moments and am
            not afraid to politely speak my mind.
            My ability to stay calm at chaotic and unpredictable moments stems from my high tolerance to risk, thus
            allowing me to thrive at improvisational decision making.
            I am an annoyingly curious induvidual who can get really obssessed with the topics of interest. What drives
            me
            to learn is limitless amount of opportunities for me to leverage the knowledge gained in the future.
        </p>
    </div>
</div>

<div class="card my-2">
    <h4 class="card-header"><i class="far fa-snowflake mr-1"></i> Weaknesses</h4>
    <div class="card-body">
        <p class="ml-3">
            As much as I can maintain a positive attitude in a group. I occasionally go through neurotic phases that
            significantly affect my focus and motivation, thus affecting my productivity. I have been learning to
            priorotize
            myself during these moments, and been focusing on being appreciative for what I've learned, how far I have
            come, and for the limitless opportunities available to me.
            My high tolerance to risk tends to affect my time management skills, Although I am able to thrive in chaotic
            moments and complete tasks on time, I tend to put myself in them as well which takes a toll on my health.
            (like when making this website)
        </p>
    </div>
</div>