<div class="card mb-2">
    <h3 class="card-header"><i class="fas fa-ruler-combined mr-1"></i> Design Experience</h3>
    <div class="card-body">

        {% for project in Design %}
        <h4>{{project['Project Name']}}</h4>
        <div class="ml-3">
            <p>{{project['description']}}</p>
            <p>
                <ul>
                    {% for task in project['tasks'] %}
                    <li>{{task}}</li>
                    {% endfor %}
                </ul>
            </p>
        </div>
        <hr>

        {% endfor %}
    </div>
</div>