<div class="card my-2">
    <h3 class="card-header"><i class="fas fa-users mr-1"></i> Future Career Goals</h3>
    <div class="card-body">
        <p class="ml-3">After graduating from Queen's University, I wish to continue my career as an engineer as soon as
            possibile. Ideally, I would like to work in the Biotechnology industry as I feel more fulfilled when using
            my
            skills to design innovative solutions for those in need. I also aim to further explore Information Security
            in hopes of becoming a bug bounty hunter. </p>
    </div>
</div>