<div class="card my-2">
    <h3 class="card-header"><i class="far fa-heart mr-1"></i> Personal Interests</h3>
    <div class="card-body">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Studies</th>
                    <th>Activities/Sports</th>
                    <th>Hobbies</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Computer Science</td>
                    <td>Badminton</td>
                    <td>Books</td>

                </tr>
                <tr>
                    <td>Biomechanical Engineering</td>
                    <td>Volleyball</td>
                    <td>Movies/TV</td>
                </tr>

                <tr>
                    <td>Electrical Engineering</td>
                    <td>Public Speaking</td>
                    <td>DIY Projects</td>
                </tr>

                <tr>
                    <td>Robotics</td>
                    <td>Basketball</td>
                    <td>Cryptocurrencies</td>
                </tr>

            </tbody>
        </table>



    </div>
</div>