<div class="card my-2">
    <h3 class="card-header"><i class="far fa-heart mr-1"></i> Personal Interests</h3>
    <div class="card-body">

        <h3>Studies</h3>
        <hr>
        <ul>
            <li>Computer Science</li>
            <li>Biomechanical Engineering</li>
            <li>Electrical Engineering</li>
            <li>Robotics</li>
            <li>Entrepreneurship</li>
            <li>Law</li>
        </ul>

        <hr>
        <h3>Activities/Sports</h3>
        <hr>
        <ul>
            <li>Badminton</li>
            <li>Volleyball</li>
            <li>Public Speaking</li>
            <li>Hackathons</li>
            <li>Basketball</li>
        </ul>

        <hr>
        <h3>Hobbies</h3>
        <hr>
        <ul>
            <li>Books</li>
            <li>Movies/TV</li>
            <li>DIY Projects</li>
            <li>Cryptocurrencies</li>
        </ul>

    </div>
</div>