<div class="jumbotron bg-transparent mx-5 mb-0 radius-0">
    <h1 class="display-2">Abdul Elah A.M. Riza<span class="vim-caret">n</span></h1>
    <div class="lead mb-3 text-mono text-success">In Permanent Beta.</div>
    <h3> Hi there,
        <a class="typewrite" data-period="2000"
            data-type='[ "I&#39;m Abu 😊","I&#39;m a Mechanical Engineering Student 👨🏼‍🔧", "I&#39;m a Developer 👨🏼‍💻", "I&#39;m an Information Security Engineer ℹ️🔐", "I 💛 Breaking & Building Tech!" ]'>
            <span class="wrap"></span>
        </a>
    </h3>
</div>