<div class="card mb-2">
    <img class="card-img-top" src="{{ url_for('static', filename='images/Profile.jpg') }}" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">Abu</h2>
        <hr>
        <p><i class="fas fa-briefcase mr-1"></i>
            Queen's University</p>
        <p class="pl-5">Information
            Security
            Associate</p>
        <hr>
        <p><i class="fas fa-graduation-cap mr-1"></i>
            Queen's University</p>
        <p class="pl-5">
            B.A.Sc.
            Mechanical
            Engineering with Professional
            Internship (2020)</p>
        <hr>
        <p><i class="fas fa-school mr-1"></i>
            Sri Lankan International School Riyadh</p>
        <p class="pl-5">
            Edexcel London IAL Science graduate - 2015</p>
        <p class="pl-5">
            Edexcel London IGSCE Top Achiever - 2013</p>
        <hr>
        <p><a href="mailto: abdulelah.rizan@gmail.com"><i class="fas fa-envelope-open mr-1"></i>
                abdulelah.rizan@gmail.com</a></p>
        <p><a href="https://goo.gl/maps/6EbpQv2DoPL2YFrJ8"><i class="fas fa-map-marker mr-1"></i> Kingston, Ontario
                Canada</a></p>
        <p><a href="tel:1-343-363-7767"><i class="fas fa-phone mr-1"></i> +1(343)-363-7767</a></p>
        <hr>
        <p align="center">
            <a href="https://github.com/abdulelahrizan"><i class="fab fa-github fa-lg mx-1"></i></a>
            <a href="https://www.facebook.com/abdulelah.rizan"><i class="fab fa-facebook-square fa-lg mx-1"></i></a>
            <a href="https://twitter.com/sudoabu"><i class="fab fa-twitter fa-lg mr-1"></i></a>
            <a href="https://www.linkedin.com/in/abdulelahr/"><i class="fab fa-linkedin fa-lg mx-1"></i></a>
            <a href="https://www.quora.com/profile/AbdulElah-Rizan"><i class="fab fa-quora fa-lg mx-1"></i></a>
            <a href="https://www.instagram.com/abdulelahrizan/"><i class="fab fa-instagram fa-lg mx-1"></i></a>
        </p>

        <a href="https://www.youracclaim.com/badges/c9404ba3-3bb1-4273-905f-f486834e3997/public_url ">
            <img class="rounded img-thumbnail mb-2 mx-auto d-block" height="120px" width="120px"
                src="{{ url_for('static', filename='images/security.png')}}"></a>
    </div>
</div>