<div class="card my-2">
    <h3 class="card-header"><i class="fas fa-users mr-1"></i> My Role in a Team</h3>
    <div class="card-body">
        <h3>Leadership</h3>
        <hr>
        <p class="ml-3">I enjoy team-based projects due to the scale of collaboration involved.
            I have a deep appreciation for the surprises faced when meeting with the creativity and work
            ethic of
            other minds.
            This led me to realise the importance of keeping my colleagues motivated therefore I tend to
            take on roles that involve boosting morale by maintaining a positive attitude and diffusing
            conflicts.</p>
        <hr>
        <h3>Communication</h3>
        <hr>
        <p class="ml-3">I make sure to communicate with each team member regarding their experiences to understand
            how I can best leverage their skills. I find that this helps build a proper picture of the
            project being managed, and helps spot bottlenecks.</p>
        <hr>
        <h3>Motivated</h3>
        <hr>
        <p class="ml-3">I try my best to maintain a pleasant attitude as I understand the importance of the effect it
            has on those around me.
            I believe being pleasant and enjoyable to work with takes the bore out of a project and
            genuinely motivates the team to go the extra mile.</p>
        <hr>



    </div>
</div>